@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    cursor: url(https://cur.cursors-4u.net/special/spe-2/spe114.cur), auto;
}

body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
}

#body-form {
    background-image: url('https://art.pixilart.com/979373107e678a3.png');
    background-repeat: repeat;
    background-size: 150px;
}

.wrapper {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    font-weight: normal;
}

input {
    font-family: inherit;
}

.form-actions {
    display: flex;
    justify-content: center;
}

button {
    font-family: inherit;
    background-color: black;
    color: white;
    padding: 15px;
    border:none;
    margin-right: 10px;
    margin-left: 10 px;
}

.bg-img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.target-img {
    position: absolute;
    z-index: 2;
    margin: auto;
    margin-top: 170px;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 350px;
    max-height: 500px;
}

.game-txt {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: white;
}

#game-window-text {
    display: flex;
    justify-content: space-around;
}

fieldset {
    border: 0;
}

form {
    font-family: inherit;
    background: white;
    display: flex;
    text-align: left;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
}

form input {
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
}

.form-line {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
}

#finish-text {
    font-size: 100px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}